
frontend/node_modules/
frontend/out/

# .NET
backend/*/bin
backend/*/obj
backend/scripts/InitQuestions.json

# Python
venv

# Editors
.vscode
.idea

# Environment variables
.env

#Cypress
frontend/cypress/videos
frontend/cypress/screenshots
