apiVersion: radix.equinor.com/v1
kind: RadixApplication
metadata:
  name: fusion-bmt
spec:
  environments:
    - name: dev
      build:
        from: master
    - name: qa
      build:
        from: qa
    - name: pr
      build:
        from: pr
    - name: prod
      build:
        from: prod

  privateImageHubs:
    fusionbmt.azurecr.io:
      username: fusionbmt
      email: radix@statoilsrm.onmicrosoft.com

  components:
    - name: backend-acr
      image: fusionbmt.azurecr.io/backend:{imageTagName}
      alwaysPullImageOnDeploy: true
      ports:
        - name: http
          port: 5000
      publicPort: http
      variables:
        ApplicationInsights__InstrumentationKey: 6f08fb54-d348-44cb-9fa6-be2c9e29d419
        ASPNETCORE_ENVIRONMENT: "Development"
      environmentConfig:
        - environment: dev
          imageTagName: ci-release
        - environment: pr
          imageTagName: pr-release
          replicas: 0
        - environment: qa
          imageTagName: qa-release
          variables:
            ASPNETCORE_ENVIRONMENT: "Production"
        - environment: prod
          imageTagName: prod-release
          resources:
            requests:
              memory: "700Mi"
              cpu: "500m"
            limits:
              memory: "3000Mi"
              cpu: "1000m"
          horizontalScaling:
            minReplicas: 2
            maxReplicas: 6
          variables:
            ASPNETCORE_ENVIRONMENT: "Production"
      secrets:
        - AzureAd__ClientSecret
        - Database__ConnectionString

    - name: frontend-acr
      image: fusionbmt.azurecr.io/frontend:{imageTagName}
      alwaysPullImageOnDeploy: true
      ports:
        - name: http
          port: 3000
      publicPort: http
      variables:
        APP_INSIGHTS_KEY: 6f08fb54-d348-44cb-9fa6-be2c9e29d419
      environmentConfig:
        - environment: dev
          imageTagName: ci-release
          resources:
            limits:
              memory: "3000Mi"
          variables:
            API_URL: "https://backend-acr-fusion-bmt-dev.radix.equinor.com"
            DT_ENVIRONMENT: "dev"
            DT_TAGS: "SHELLVIS SERVICENAME=FUSION-BMT ENVIRONMENT=DEV"
            DT_CUSTOM_PROP: "SERVICENAME=FUSION-BMT ENVIRONMENT=DEV"
            DT_PROCESS_GROUP: "FUSION-BMT-DEV"
            DT_ENTITY__PROCESS_GROUP_INSTANCE: "FUSION-BMT-DEV"
        - environment: pr
          imageTagName: pr-release
          replicas: 0
          variables:
            DT_ENVIRONMENT: "pr"
            DT_TAGS: "SHELLVIS SERVICENAME=FUSION-BMT ENVIRONMENT=PR"
            DT_CUSTOM_PROP: "SERVICENAME=FUSION-BMT ENVIRONMENT=PR"
            DT_PROCESS_GROUP: "FUSION-BMT-PR"
            DT_ENTITY__PROCESS_GROUP_INSTANCE: "FUSION-BMT-PR"
        - environment: qa
          imageTagName: qa-release
          resources:
            limits:
              memory: "3000Mi"
          variables:
            API_URL: "https://backend-acr-fusion-bmt-qa.radix.equinor.com"
            DT_ENVIRONMENT: "qa"
            DT_TAGS: "SHELLVIS SERVICENAME=FUSION-BMT ENVIRONMENT=QA"
            DT_CUSTOM_PROP: "SERVICENAME=FUSION-BMT ENVIRONMENT=QA"
            DT_PROCESS_GROUP: "FUSION-BMT-QA"
            DT_ENTITY__PROCESS_GROUP_INSTANCE: "FUSION-BMT-QA"
        - environment: prod
          imageTagName: prod-release
          replicas: 0
          variables:
            DT_ENVIRONMENT: "prod"
            DT_TAGS: "SHELLVIS SERVICENAME=FUSION-BMT ENVIRONMENT=PROD"
            DT_CUSTOM_PROP: "SERVICENAME=FUSION-BMT ENVIRONMENT=PROD"
            DT_PROCESS_GROUP: "FUSION-BMT-PROD"
            DT_ENTITY__PROCESS_GROUP_INSTANCE: "FUSION-BMT-PROD"

  dnsAppAlias:
    environment: qa
    component: frontend-acr
